<header class="navbar sticky-top navbar-light bg-light">
  <div class="container">
    <%= link_to "Postagram", '#', id: "logo" %>
    <nav>
      <div class="nav navbar-right">
      <div class ="link"><%= link_to "Home",   '#' %></div>
      <div class ="link"><%= link_to "Help",   '#' %></div>
      <div class ="link"><%= link_to "Log in", '#' %></div>
    </nav>
  </div>
</header>
